{% extends "base.html" %}
{% block page_title %}About the project{% endblock %}
{% block metadata %}
<meta property="og:site_name" content="Posterity video">
<meta property="og:title" content="About Posterity" />
<meta property="og:description" content="Mission statement and resources for this project." />
<meta property="og:image" itemprop="image" content="{{ url_for('serve.static', filename='posterity.png') }}">
<meta property="og:type" content="website" />
{% endblock %}
{% block content %}
<section class="uk-section uk-section-small uk-section-muted uk-padding-remove-vertical">
    <div class="uk-container">
        <div class="uk-height-small uk-cover-container">
            <div class="uk-overlay uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-text-center">
                <h1>About the <b>Posterity</b> project</h1>
            </div>
        </div>
    </div>
</section>
<section class="uk-section uk-section-default uk-section-small uk-padding-remove-vertical">
    <div class="uk-container uk-margin-bottom">
        <div class="uk-grid uk-grid-divider uk-child-width-expand@m">
            <div class="uk-width-1-1 uk-width-2-3@m">
                <div class="uk-width-1-1 uk-padding-small">
                    <h4 class="uk-heading-line">Mission statement</h4>
                </div>
                <div class="uk-width-1-1">
                    <p>
                        We built this tool to allow people to archive videos related to the invasion of Ukraine. We believe anything that might help to document the atrocities and war crimes should be public domain.
                    </p>
                    <p>
                        We do not own the rights to any of this media. This software is self-contained and can be redeployed anywhere, all the data archived is mirrored on several locations. Please direct any DMCA claims or complaints to /dev/null.
                    </p>
                    <p>
                        All the code written for this is also public domain, so we encourage anyone to set up their own Posterity service for other topics. We also encourage people to <a href="/download_archive">help seed our torrents and Syncthing folder</a> to ensure the data persists.
                    </p>
                </div>
                <div class="uk-width-1-1 uk-padding-small">
                    <h4 class="uk-heading-line">Get involved</h4>
                </div>
                <div class="uk-width-1-1">
                    <p>
                        This is not a group or an organization, we do not accept donations. Anyone can contribute to the project but if you're really looking to help Ukraine you should donate your time and resources elsewhere.
                    </p>
                    <ul class="uk-list uk-list-square">

                        <li>
                            <a href="https://discord.gg/2Vkwv3FFjS" target="_blank">"World in Focus" Discord server</a>. This is the community this project was initially made to serve.
                        </li>
                        <li>
                            <a href="https://github.com/NiclasEriksen/posterity/" target="_blank">GitHub: Posterity</a>. The GitHub repository for the code that this service is running. Submit issues, feature requests or pull requests here.
                        </li>
                        <li>
                            <a href="https://github.com/NiclasEriksen/Feedbot/" target="_blank">GitHub: FeedBot</a>. The GitHub repository for a Discord bot that posts videos to Posterity.
                        </li>
                        <li>
                            Add videos through the Discord bot, request a registration token for a contributor account or get in touch for API keys to post videos.
                        </li>
                        <li>
                            <a href="/download_archive">Seed our torrents and/or add the Syncthing folder</a>. This is our safety in case we're taken offline.
                        </li>
                        <li>
                            Write us at <a href="mailto:shit@putin.no">shit@putin.no</a> for any questions
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-1-3@m">
                <div class="uk-grid">
                    <div class="uk-width-1-2 uk-width-1-1@m">
                        <div class="uk-width-1-1 uk-padding-small">
                            <h4 class="uk-heading-line">Components used</h4>
                        </div>
                        <div class="uk-width-1-1">
                            <ul class="uk-list uk-list-square uk-list-collapse">
                                <li><a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a><span class="uk-text-meta"> web server</span></li>
                                <li><a href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a><span class="uk-text-meta"> ORM</span></li>
                                <li><a href="https://redis.io/" target="_blank">Redis Cache</a><span class="uk-text-meta"> cache/queue</span></li>
                                <li><a href="https://ffmpeg.org/" target="_blank">ffmpeg</a><span class="uk-text-meta"> the legwork</span></li>
                                <li><a href="https://github.com/blackjack4494/youtube-dlc" target="_blank">youtube-dlc</a><span class="uk-text-meta"> extract links</span></li>
                                <li><a href="https://pillow.readthedocs.io/en/stable/" target="_blank">Pillow</a><span class="uk-text-meta"> generate thumbnails</span></li>
                                <li><a href="https://www.elastic.co/elasticsearch/" target="_blank">ElasticSearch</a><span class="uk-text-meta"> search engine</span></li>
                                <li><a href="https://getuikit.com/" target="_blank">UIKit</a><span class="uk-text-meta"> CSS framework</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-width-1-2 uk-width-1-1@m">
                        <div class="uk-width-1-1 uk-padding-small">
                            <h4 class="uk-heading-line">Encoding settings</h4>
                        </div>
                        <div class="uk-width-1-1">
                            <ul class="uk-list uk-list-square uk-list-collapse">
                                <li>Everything is single-pass</li>
                                <li>Deinterlacing <span class="uk-text-meta"> enabled</span></li>
                                <li>Normalized audio
                                    <ul>
                                        <li>Technique<span class="uk-text-meta"> dynaudnorm</span></li>
                                        <li>Bit rate<span class="uk-text-meta"> VBR</span></li>
                                        <li>Peak<span class="uk-text-meta"> 85%</span></li>
                                    </ul>
                                </li>
                                <li>Downmix to stereo</li>
                                <li>Subtitles<span class="uk-text-meta"> soft (container)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}