<!DOCTYPE html>
<html>
    <head>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('serve.static', filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('serve.static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('serve.static', filename='favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('serve.static', filename='site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('serve.static', filename='safari-pinned-tab.svg') }}" color="#3d3d3d">
        <meta name="msapplication-TileColor" content="#3d3d3d">
        <meta name="theme-color" content="#ffffff">

        <title>{% block page_title %}Save videos for posterity!{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metadata %}
        <meta property="og:site_name" content="Posterity">
        <meta property="og:title" content="Videos overview" />
        <meta property="og:description" content="Save videos for the future!" />
        <meta property="og:image" itemprop="image" content="{{ url_for('serve.static', filename='posterity.png') }}">
        <meta property="og:type" content="website" />
        {% endblock %}
        <link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.1/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="{{ url_for('serve.static', filename='css/posterity.css') }}" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.1/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.13.1/dist/js/uikit-icons.min.js"></script>
<!--        <link rel="stylesheet" href="{{ url_for('serve.static', filename='css/uikit.min.css') }}">-->
<!--        <script src="{{ url_for('serve.static', filename='js/uikit.min.js') }}"></script>-->
<!--        <script src="{{ url_for('serve.static', filename='js/uikit-icons.min.js') }}"></script>-->
    </head>
  
    <body class="uk-height-1-1">
        <div class="uk-container uk-grid uk-padding-small uk-container-small uk-light uk-background-secondary uk-margin-remove uk-width-1-1" style="padding-top: 5px; padding-bottom: 5px; height: 58px;">
            <div class="uk-width-1-3 uk-width-1-3@s uk-padding-remove">
                <h4><a class="uk-link-heading" href="/">
                    <img src="{{ url_for('serve.static', filename='posterity_banner_small.png') }}" alt="Posterity" height="48" style="max-height: 48px;">
                </a></h4>
            </div>
            <div class="uk-width-1-3 uk-padding-remove uk-text-center uk-height-1-1 uk-position-relative">
                <div class="uk-position-center uk-text-small uk-text-muted">
                    <span>
                        <a href="/about" uk-icon="icon: info">About </a>
                    </span>
                    <span class="uk-padding-small uk-visible@s"> | </span>
                    <span class="uk-visible@s">
                        <a href="/download_archive" uk-icon="icon: cloud-download">Downloads </a>
                    </span>
                </div>
            </div>
            <div class="uk-width-1-3 uk-padding-remove uk-height-1-1 uk-position-relative">
                <span class="uk-position-center-right uk-align-right uk-text-small uk-text-muted">
                    {% if current_user.is_authenticated %}
                    User: {{ current_user.username }} <a href="/logout" uk-icon="icon: sign-out" class="uk-text-muted uk-icon-link uk-icon-button"></a>
                    {% else %}
                    <a href="/login" uk-icon="icon: sign-in" class="uk-text-muted uk-icon-link uk-icon-button"></a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="{% if category == 'error' %}uk-animation-shake{% else %}uk-animation-slide-top-small{% endif %} uk-container uk-text-center uk-padding-small uk-container-small uk-background-muted uk-margin-remove uk-width-1-1" style="padding-top: 5px; padding-bottom: 5px;">
                <b class="{% if category == 'error' %}uk-text-danger{% elif category == 'success' %}uk-text-success{% elif category == 'success' %}uk-text-warning{% else %}uk-text-secondary{% endif %}">{{ message }}</b>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
    </body>
</html>
