{% extends "base.html" %}
{% block page_title %}Dashboard - Posterity{% endblock %}
{% block metadata %}
<meta property="og:site_name" content="Posterity video">
<meta property="og:title" content="Editor dashboard" />
<meta property="og:image" itemprop="image" content="{{ url_for('serve.static', filename='posterity.png') }}">
<meta property="og:type" content="website" />
{% endblock %}
{% block content %}
<section class="uk-section uk-section-small uk-section-muted uk-padding-remove-vertical">
    <div class="uk-container">
        <h2 class="uk-text-center">Welcome, {{ user.username }}</h2>
    </div>
</section>
<section class="uk-section uk-section-default uk-section-small">
    <div class="uk-child-width-expand@s" uk-grid>

        <div class="uk-card uk-card-default uk-overflow-auto uk-height-large uk-width-1-1 uk-width-1-2@s">
            <h3 class="uk-text-center">Current tasks</h3>
            <table class="uk-table uk-table-small uk-table-striped">
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Uploader/Status</td>
                    </tr>
                </thead>
                <tbody>
                    {% for v in tasks %}
                    <tr>
                        <td>
                            <div class="uk-text-small" style="display: table-cell;">
                                <a href="/{{ v.video_id }}">{{ v.title }}</a>
                            </div>
                        </td>
                        <td>
                            <span class="uk-text-meta">{{ v.source }}</span><br>
                            <span class="uk-text-small">
                            {% if v.status != STATUS_COMPLETED and not v.user_reports|length %}
                            {{ v.status_str.capitalize() }}
                            {% if not v.can_be_changed %}
                                {{ v.progress }}
                                {% if v.pid > 0 and v.user_can_edit(current_user) and current_user.check_auth(AUTH_LEVEL_EDITOR) %}
                                <br><a href="/api/v1/core/cancel_task/{{ v.task_id }}" class="uk-text-danger">
                                    <span class="uk-link-icon" uk-icon="icon: close; ratio: 0.8;"></span> Cancel
                                </a>
                                {% endif %}
                            {% endif %}
                            {% else %}
                            Reports pending
                            {% endif %}
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="uk-card uk-card-default uk-overflow-auto uk-height-large uk-width-1-1 uk-width-1-2@s uk-padding-remove-horizontal">
            <h3 class="uk-text-center">Possible duplicates</h3>
            <table class="uk-table uk-table-small uk-table-striped uk-width-1-1">
                <thead>
                    <tr>
                        <td class="uk-width-2-5 uk-text-center">Video 1</td>
                        <td class="uk-width-1-5 uk-text-center"></td>
                        <td class="uk-width-2-5 uk-text-center">Video 2</td>
                    </tr>
                </thead>
                <tbody>
                    {% for v1, v2 in duplicates %}
                    <tr>
                        <td>
                            <div class="uk-position-relative">
                                <div class="list-thumbnail uk-position-right" style="display: table-cell;">
                                    <a href="/{{ v1.video_id }}">
                                        <img src="/thumbnail/{{ v1.video_id }}.jpg" loading="lazy" class="thumbnail-rounded uk-position-absolute uk-position-center">
                                    </a>
                                </div>

                            </div>
                            <div class="uk-text-small" style="overflow: hidden; text-overflow: ellipsis; padding-right:56px;">
                                <a href="/{{ v1.video_id }}">{{ v1.title }}</a>
                            </div>
                        </td>
                        <td class="uk-text-small uk-text-center">
                            <a class="uk-text-warning"
                               href="/clear_duplicate?v1={{ v1.video_id }}&v2={{ v2.video_id }}"
                               onclick="return confirm('Flag this as a false positive?');"
                            >
                                False positive <span uk-icon="icon: warning; ratio: 0.75;"></span>
                            </a><br>
                            {% if current_user.check_auth(AUTH_LEVEL_EDITOR) %}
                            <a class="uk-text-danger"
                               href="/handle_duplicates/{{ v1.video_id }}/{{ v2.video_id }}"
                            >
                                Handle duplicates <span uk-icon="icon: copy; ratio: 0.75"></span>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            <div class="list-thumbnail uk-position-relative" style="display: table-cell;">
                                <a href="/{{ v2.video_id }}">
                                    <img src="/thumbnail/{{ v2.video_id }}.jpg" loading="lazy" class="thumbnail-rounded uk-position-absolute uk-position-center">
                                </a>
                            </div>
                            <div class="uk-text-small" style="overflow: hidden; text-overflow: ellipsis;">
                                <a href="/{{ v2.video_id }}">{{ v2.title }}</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
</section>
{% if current_user.check_auth(AUTH_LEVEL_EDITOR) %}
<section class="uk-section uk-section-default uk-section-small uk-container">
    <div class="uk-grid uk-grid-small">
        <div clasS="uk-width-1-1">
            <h2>Tools:</h2>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@m uk-padding-small">
            <a class="uk-input uk-button uk-button-warning" href="/check_all_duplicates">
                <span uk-icon="icon: copy"></span> Full duplicate check
            </a>
        </div>
    </div>
</section>
<section class="uk-section uk-section-default uk-section-small uk-container">
    <div class="uk-grid uk-grid-small">
        <div class="uk-width-1-1 uk-width-1-2@m uk-margin">
            <h2>Add new tag:</h2>
            <form class="uk-form" method="POST" id="add_tag_form" action="/add_tag">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <input type="text" class="uk-input" name="tag_name" id="tag_name" placeholder="Tag name">
                    </div>
                    <div class="uk-margin">
                        <select class="uk-select" id="tag_category_select" name="tag_category_select">
                            <option value="0" selected>Informative</option>
                            <option value="1">Emotional</option>
                            <option value="2">Graphic</option>
                        </select>
                    </div>
                    <button class="uk-button uk-button-primary" type="submit">Submit</button>
                    <input type="hidden" id="return_url" name="return_url" value="/dashboard">
                </fieldset>
            </form>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@m uk-margin">
            <h2>Add new category:</h2>
            <form class="uk-form" method="POST" id="add_category_form" action="/add_category">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <input type="text" class="uk-input" name="category_name" id="category_name" placeholder="Category name">
                    </div>
                    <button class="uk-button uk-button-primary" type="submit">Submit</button>
                    <input type="hidden" id="return_url_category" name="return_url" value="/dashboard">
                </fieldset>
            </form>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@m uk-margin">
            <h2>Add new theatre:</h2>
            <p><a href="/dashboard/theatres">Theatre overview</a></p>
            <form class="uk-form" method="POST" id="add_theatre_form" action="/dashboard/create_theatre">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <input type="text" class="uk-input" name="theatre_name" id="theatre_name" placeholder="Theatre name">
                    </div>
                    <div class="uk-margin">
                        <input type="text" class="uk-input" name="theatre_location" id="theatre_location" placeholder="Location">
                    </div>
                    <div class="uk-margin">
                        <label>
                            <input class="uk-checkbox" id="theatre_ongoing" name="theatre_ongoing" type="checkbox" checked> Ongoing?
                        </label>
                    </div>
                    <div class="uk-margin">
                        <div class="js-upload uk-placeholder uk-text-center">
                            <img id="theatre_logo_preview" src="" style="max-width: 128px; max-height: 128px;">
                            <span uk-icon="icon: cloud-upload"></span>
                            <span class="uk-text-middle" id="theatre_logo_status">Attach image by dropping it here or</span>
                            <div uk-form-custom>
                                <input type="file" id="logo" name="logo" accept="image/png">
                                <span class="uk-link">select one</span>
                            </div>
                        </div>
                        <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                    </div>
                    <button class="uk-button uk-button-primary" type="submit">Submit</button>
                    <input type="hidden" id="return_url_theatre" name="return_url" value="/dashboard">
                    <input type="hidden" id="theatre_logo_name" name="theatre_logo_name" value="">
                </fieldset>
            </form>
        </div>
    </div>
</section>
<section class="uk-section uk-section-default uk-section-small uk-container">
    <div class="uk-grid uk-grid-small">
        <div class="uk-width-1-1 uk-width-1-2@m uk-margin">
            <h2>Available tokens:</h2>
            <table class="uk-table">
                <thead>
                    <tr>
                        <td class="uk-table-expand">Name/Token</td>
                        <td class="uk-table-shrink">Uses</td>
                        <td>Expires</td>
                    </tr>
                </thead>
                <tbody>
                    {% for token in tokens %}
                    <tr>
                        <td>
                            {{ token.name }}<br>
                            <a
                                href="/dashboard/delete_token/{{ token.id }}"
                                class="uk-icon-link uk-text-danger"
                                uk-icon="icon: trash;ratio: 0.9;"
                            >
                            </a>
                            <span class="uk-text-meta">{{ token.token }}</span>
                        </td>
                        <td>{{ token.uses }}</td>
                        <td><span class="uk-text-meta">{{ token.expires.strftime('%Y-%m-%d') }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="uk-width-1-1 uk-width-1-2@m uk-margin">
            <h2>Add new registration token:</h2>
            <form class="uk-form" method="POST" id="add_token_form" action="/dashboard/create_token">
                <div class="uk-margin">
                    <input type="text" class="uk-input" name="token_name" id="token_name" placeholder="Token name">
                </div>
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-1 uk-width-1-2@s">
                        <div class="uk-form-label">Authentication level</div>
                        User (0) <input type="range" class="uk-range uk-width-auto" step="1" value="0" min="0" max="{{ current_user.auth_level }}" name="auth_level" id="auth_level" placeholder="Token name"> ({{ current_user.auth_level }}) your level
                    </div>
                    <div class="uk-width-1-1 uk-width-1-2@s">
                        <div class="uk-form-label">Uses</div>
                        <input type="number" min="0" value="1" max="20" class="uk-input" name="token_uses" id="token_uses" placeholder="Token uses">
                    </div>
                </div>
                <button class="uk-button uk-button-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endif %}
{% if other_users|length %}
<section class="uk-section uk-section-default uk-section-small">
    <div class="uk-container uk-margin-small">
        <div class="uk-grid-small" uk-grid>
            <h2 class="uk-width-1-1">Other users:</h2>
            {% for u in other_users %}
            <div class="uk-width-1-1 uk-margin-remove">
                <span class="uk-text-meta">User:</span> {{ u.username }}
                <span class="uk-text-meta">ID:</span> {{ u.id }}
                <span class="uk-text-meta">Auth:</span> {{ u.auth_level }}
                <span class="uk-text-meta">Videos:</span> {{ u.uploaded }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
<script>

    var bar = document.getElementById('js-progressbar');

    UIkit.upload('.js-upload', {

        url: '/upload_logo',
        multiple: true,

        beforeSend: function (environment) {
            console.log('beforeSend', arguments);

            // The environment object can still be modified here.
            // var {data, method, headers, xhr, responseType} = environment;

        },
        beforeAll: function () {
        },
        load: function () {
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            var resp = arguments['0'].responseText;
            if (resp) {
                var preview_img = document.getElementById("theatre_logo_preview");
                var logo = document.getElementById("theatre_logo_name")
                if (preview_img) {
                    preview_img.src = "/uploaded/" + resp;
                }
                if (logo) {
                    logo.value = resp;
                }
            }
            console.log(resp);
        },

        loadStart: function (e) {
            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },

        progress: function (e) {
            bar.max = e.total;
            bar.value = e.loaded;
        },

        loadEnd: function (e) {
            bar.max = e.total;
            bar.value = e.loaded;
        },

        completeAll: function () {

            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
                var status_field = document.getElementById("theatre_logo_status");
                if (status_field) {
                    status_field.innerHTML = "Image has been uploaded";
                }
            }, 1000);

        }

    });

</script>

{% endblock %}