{% extends "base.html" %}
{% block page_title %}Dashboard - Posterity{% endblock %}
{% block metadata %}
<meta property="og:site_name" content="Posterity video">
<meta property="og:title" content="Editor dashboard" />
<meta property="og:image" itemprop="image" content="{{ url_for('serve.static', filename='posterity.png') }}">
<meta property="og:type" content="website" />
{% endblock %}
{% block content %}
<section class="uk-section uk-section-small uk-section-muted uk-padding-remove-vertical">
    <div class="uk-container">
        <h2>Welcome, {{ user.username }}</h2>
    </div>
</section>
<section class="uk-section uk-section-default uk-section-small uk-padding-remove-vertical">
    <div class="uk-container uk-margin-bottom">
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-1 uk-width-1-2@m uk-padding-small">
                <a class="uk-input uk-button uk-button-warning" href="/check_all_duplicates">
                    <span uk-icon="icon: copy"></span> Full duplicate check
                </a>
            </div>
        </div>
        <div class="uk-container uk-width-1-1 uk-height-1-1">
        <h2>Add new tag:</h2>
        <form class="uk-form" method="POST" id="add_tag_form" action="/add_tag">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input type="text" class="uk-input" name="tag_name" id="tag_name" placeholder="Tag name">
                </div>
                <div class="uk-margin">
                    <select class="uk-select" id="tag_category_select" name="tag_category_select">
                        <option value="0" selected>Informative</option>
                        <option value="1">Emotional</option>
                        <option value="2">Graphic</option>
                    </select>
                </div>
                <button class="uk-button uk-button-primary" type="submit">Submit</button>
                <input type="hidden" id="return_url" name="return_url" value="/dashboard">
            </fieldset>

        </form>
        <h2>Add new category:</h2>
        <form class="uk-form" method="POST" id="add_category_form" action="/add_category">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input type="text" class="uk-input" name="category_name" id="category_name" placeholder="Category name">
                </div>
                <button class="uk-button uk-button-primary" type="submit">Submit</button>
                <input type="hidden" id="return_url_category" name="return_url" value="/dashboard">
            </fieldset>
        </form>
        <div class="container">
            <table class="uk-table">
                <thead>
                    <tr>
                        <td class="uk-table-expand">Name/Token</td>
                        <td class="uk-table-shrink">Uses</td>
                        <td>Expires</td>
                    </tr>
                </thead>
                <tbody>
                    {% for token in tokens %}
                    <tr>
                        <td>
                            {{ token.name }}<br>
                            <a
                                href="/dashboard/delete_token/{{ token.id }}"
                                class="uk-icon-link uk-text-danger"
                                uk-icon="icon: trash;ratio: 0.9;"
                            >
                            </a>
                            <span class="uk-text-meta">{{ token.token }}</span>
                        </td>
                        <td>{{ token.uses }}</td>
                        <td><span class="uk-text-meta">{{ token.expires.strftime('%Y-%m-%d') }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>Add new registration token:</h2>
        <form class="uk-form" method="POST" id="add_token_form" action="/dashboard/create_token">
            <div class="uk-margin">
                <input type="text" class="uk-input" name="token_name" id="token_name" placeholder="Token name">
            </div>
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1 uk-width-1-2@s">
                    <div class="uk-form-label">Authentication level</div>
                    User (0) <input type="range" class="uk-range uk-width-auto" step="1" value="0" min="0" max="{{ current_user.auth_level }}" name="auth_level" id="auth_level" placeholder="Token name"> ({{ current_user.auth_level }}) your level
                </div>
                <div class="uk-width-1-1 uk-width-1-2@s">
                    <div class="uk-form-label">Uses</div>
                    <input type="number" min="0" value="1" max="20" class="uk-input" name="token_uses" id="token_uses" placeholder="Token uses">
                </div>
            </div>
            <button class="uk-button uk-button-primary" type="submit">Submit</button>
        </form>
</div>
    </div>
</section>
{% endblock %}