{% extends "base.html" %}
{% block content %}
<div class="uk-container uk-width-1-1 uk-height-1-1 uk-position-relative">
    <div class="uk-position-center uk-height-1-1 uk-width-1-1">
        <div class="uk-vertical-align-middle uk-margin uk-padding" style="min-width: 50vw;">
            <form class="uk-form" method="POST" action="/edit_video/{{ video.video_id }}">
                <fieldset class="uk-fieldset">
                    <div class="uk-width-1-1">
                        <label class="uk-form-label">Custom title</label>
                        <div class="uk-inline uk-form-controls uk-margin-small uk-width-1-1">
                            <span class="uk-form-icon" uk-icon="icon: quote-right"></span>
                            <input
                            class="uk-input uk-width-1-1 uk-form-width-medium"
                            type="text"
                            placeholder="Custom title"
                            value="{{ video.title }}"
                            name="custom_title"
                            autofocus=""
                            {% if video.status == 0 %}disabled{% endif %}
                            >
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-text-meta">Content tags</div>
                        <select class="uk-select uk-height-small" multiple id="tags_select" name="tags_select">
                            {% for tag in tags %}
                            <option value="{{ tag.id }}" class="content-tag-option-{{ tag.category }}"{% if tag.enabled %} selected{% endif %}>{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-text-meta">Categories</div>
                        <select class="uk-select uk-height-small" multiple id="categories_select" name="categories_select">
                            {% for c in categories %}
                            <option value="{{ c.id }}" class="category-option" {% if c.enabled %}selected{% endif %}>{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="uk-margin">
                        <label><input class="uk-checkbox" id="private-checkbox" name="private-checkbox" type="checkbox"{% if video.private %} checked{% endif %}> Mark as private</label>
                    </div>

                    <div class="uk-width-1-1 uk-grid uk-grid-small">
                        <div class="uk-width-1-2 uk-padding-small">
                            <a class="uk-input uk-button uk-button-danger" href="/remove/{{ video.video_id }}" onclick="return confirm('Are you sure you want to delete this video?');"><span uk-icon="icon: trash"></span> Delete</a>
                        </div>
                        <div class="uk-width-1-2 uk-padding-small">
                            <a class="uk-input uk-button uk-button-warning" href="/check_duplicates/{{ video.video_id }}"><span uk-icon="icon: copy"></span> Duplicate check</a>
                        </div>

                        <div class="uk-width-1-2 uk-padding-small">
                            <a class="uk-input uk-button uk-button-muted" href="/{{ video.video_id }}"><span uk-icon="icon: close"></span> Cancel</a>
                        </div>
                        <div class="uk-width-1-2 uk-padding-small">
                            <button class="uk-input uk-button uk-button-primary" type="submit"><span uk-icon="icon: close"></span> Apply</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content %}