
<!DOCTYPE html>
<html style="background-color: ##2E353D;" lang="no" dir="ltr" data-cast-api-enabled="true">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posterity video</title>
    <link rel="canonical" href="/{{ video.video_id }}">
    <link rel="stylesheet" href="{{ url_for('serve.static', filename='css/posterity.css') }}" />
    <link rel="stylesheet" href="{{ url_for('serve.static', filename='css/video_player.css') }}" />
    <link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
</head>
<body style="background-color: ##2E353D; margin: 0;" dir="ltr">
    {% if video.status == STATUS_COMPLETED or video.status == STATUS_PROCESSING %}
    <video
    id="video-player"
    class="video-js vjs-default-skin vjs-big-play-centered"
    controls
    width="{{ video.width }}"
    height="{{ video.height }}"
    preload="false"
    loop="loop"
    poster=""
    data-setup='{"poster":"/preview/{{ video.video_id }}.jpg", "playbackRates": [0.25, 0.5, 1, 2, 4] }'
    >
        <source src="{{ stream_path }}" type="video/mp4" />
    </video>
    <script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>
    <script>
    var vid_element = document.getElementById("video-player");
    if (vid_element) {
        videojs('video-player', {}, function() {
            this.playbackRate(1);
        });
    }
    </script>
    {% elif video.status == STATUS_DOWNLOADING %}
    <p>
        <div class="video-spinner"></div>
    </p>
    <p>
        Video is still downloading, page will refresh automatically when done.
    </p>
    {% endif %}
    <noscript>
        <div class="player-unavailable">
            <h2>An error occurred</h2>
            <p>
                <a href="/{{ video.video_id }}" target="_blank">Try watching it on Posterity</a>, or enable JavaScript in your browser.
            </p>
        </div>
    </noscript>
</body>
</html>