{% extends "base.html" %}
{% block content %}
<style>
.disabled_a {
    pointer-events: none;
}
</style>
<div class="uk-container uk-grid uk-padding-small uk-height-1-1 uk-padding-remove-top uk-margin-remove" style="min-width:100%">
    {% if current_user.is_authenticated %}
    <div
        class="uk-width-1-1 uk-width-1-4@l uk-dark uk-background-secondary uk-height-1-1 uk-margin"
        style="border: 1px dashed #CCC;border-top: 0;"
    >

        <form action="" id="link-form" class="uk-form uk-padding-small uk-width-1-1 uk-height-1-1">
            <input type="hidden" id="source_user" name="source_user" value="{{ current_user.username }}">
            <fieldset class="uk-fieldset uk-grid">

                <legend class="uk-legend uk-text-center uk-width-1-1 uk-padding-remove">Post new video for posterity</legend>

                <div class="uk-margin uk-width-1-1 uk-padding-remove-horizontal">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: link"></span>
                        <input class="uk-input" type="text" id="url" name="url" placeholder="URL">
                    </div>
                </div>

                <div class="uk-margin uk-width-1-1 uk-padding-remove-horizontal">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: quote-right"></span>
                        <input class="uk-input" type="text" id="title" name="title" placeholder="Descriptive title">
                    </div>
                </div>

                <div class="uk-margin uk-width-2-5 uk-width-1-1@l uk-padding-remove-horizontal">
                    <div class="uk-form-label">Content warning</div>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: warning"></span>
                        <select class="uk-input uk-select" id="content_warning" name="content_warning">
                            <option>None</option>
                            {% for tag in tags %}
                            <option class="content-tag-option-{{ tag.category }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="uk-width-1-5 uk-hidden@l uk-padding-remove-horizontal"></div>
                <div class="uk-margin uk-width-2-5 uk-width-1-1@l uk-padding-remove-horizontal">
                    <div class="uk-form-label">Video type</div>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: tag"></span>
                        <select class="uk-input uk-select" id="category" name="category">
                            <option>None</option>
                            {% for tag in categories %}
                            <option class="category-option">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <p class="uk-padding-remove-horizontal">
                    <span class="uk-text-small">
                        <span class="content-tag-option-2">Graphic</span> /
                        <span class="content-tag-option-1">Emotional</span> /
                        <span class="content-tag-option-0">Informative</span> /
                        <span class="uk-text-category">Video type</span>
                    </span><br>
                    <span class="uk-text-meta"><i>You can add more tags and categories later</i></span>
                </p>

                <div class="uk-margin uk-width-1-1 uk-padding-remove-left">
                    <button class="uk-button uk-button-default" type="submit" id="submit-button">Save for posterity</button>
                </div>
                <p id="video-post-status" class="uk-text-small uk-text-danger"></p>
            </fieldset>
        </form>
    </div>
    {% endif %}
    <div class="uk-width-1-1 {% if current_user.is_authenticated %}uk-width-3-4@l {% endif %}uk-padding-small">
        <div class="uk-grid uk-grid-small uk-text-small uk-padding-small">
            <div class="uk-width-1-1 uk-width-1-2@l uk-text-muted uk-text-center">
                <div class=" uk-position-relative uk-container uk-height-1-1">
                    <div class="uk-text-center uk-position-center uk-position-relative">
                        {% if keyword|length %}Search results for <b>"{{ keyword }}"</b><br>{% endif %}
                        {% if total_results > 0 %}
                            Showing {{ result_offset + 1 }} to {{ result_offset + total_results }} of {{ total }} (page {{ current_page }} of {{ max_page }})
                        {% else %}
                            No results to show.
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="uk-container uk-width-1-1 uk-width-1-2@l uk-height-1-1">
                <form class="uk-form uk-width-1-1" id="search_form" name="search_form" action="/" method="POST">
                    <div class="uk-margin-remove uk-padding-small">
                        <div class="uk-inline uk-width-1-1">
                            <a class="uk-form-icon uk-form-icon-flip" href="" onclick="document.search_form.submit();return false;" uk-icon="icon: search"></a>
                            <input class="uk-input" type="text" id="keyword" name="keyword" placeholder="Search videos..." value="{{ keyword }}">
                        </div>
                    </div>
                </form>
            </div>
            <a
                class="uk-width-1-2 uk-input uk-button {% if current_page > 1 %}uk-button-secondary{% else %}disabled_a uk-button-muted{% endif %} uk-button-small"
                href="{% if current_page > 1 %}/?p={{ current_page - 1 }}{% else %}#{% endif %}{% if keyword|length %}&q={{ keyword }}{% endif %}"
            >
                <span uk-icon="icon: chevron-double-left"></span> Previous
            </a>
            <a
                class="uk-width-1-2 uk-input uk-button {% if current_page < max_page %}uk-button-secondary{% else %}disabled_a uk-button-muted{% endif %} uk-button-small"
                href="{% if current_page < max_page %}/?p={{ current_page + 1 }}{% else %}#{% endif %}{% if keyword|length %}&q={{ keyword }}{% endif %}"
            >
                Next <span uk-icon="icon: chevron-double-right"></span>
            </a>
        </div>

        <table class="uk-table uk-table-small uk-table-responsive uk-table-justify uk-table-middle">
            <caption class="uk-visible@l">{% if keyword|length %}Search results{% else %}Archived videos, sorted by upload date.{% endif %}</caption>
            <thead>
                <tr>
                    <th class="uk-table-expand">Video</th>
                    <th class="uk-table-shrink uk-visible@s">Status/Source</th>
                    <th class="uk-table-shrink">Duration</th>
                    <th class="uk-table-shrink">Uploaded</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                <tr>
                    <td class="uk-flex uk-flex-middle" style="min-height: 64px;">
                        <div class="list-thumbnail uk-position-relative" style="display: table-cell;">
                            <a href="/{{ video['video_id'] }}">
                                <img src="/thumbnail/{{ video.video_id }}.png" loading="lazy" class="thumbnail-rounded uk-position-absolute uk-position-center">
                            </a>
                        </div>
                        <div style="display: table-cell;">
                            <a href="/{{ video['video_id'] }}" class="uk-text-bold video-link">{{ video.title }}</a>
                            {% if video.tags|length or video.categories|length %}
                                <br>
                                {% for tag in video.tags_by_category %}
                                <span class="uk-label label-small {% if tag.category > 1 %}uk-label-danger{% elif tag.category == 1 %}uk-label-warning{% endif %}">{{ tag.name }}</span>
                                {% endfor %}
                                {% for category in video.categories %}
                                <span class="uk-label label-small uk-label-category">{{ category.name }}</span>
                                {% endfor %}
                            {% endif %}
                            {% if video.status == 1 and current_user.is_authenticated %}
                            <a href="/edit_video/{{ video.video_id }}" class="uk-icon-link" uk-icon="icon: pencil; ratio: 0.85"></a>
                            {% endif %}
                        </div>
                    </td>
                    <td class="uk-text-muted uk-text-small uk-visible@s" style="max-width: 15vw;">
                        <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                            {% if video.status == 0 %}
                            <span class="uk-text-primary" uk-icon="icon: download; ratio: 0.9"></span>
                            {% elif video.status == 1 %}
                            <span class="uk-text-success" uk-icon="icon: check; ratio: 0.9"></span>
                            {% elif video.status == 2 %}
                            <span class="uk-text-danger" uk-icon="icon: close; ratio: 0.9"></span>
                            {% elif video.status == 3 %}
                            <span class="uk-text-danger" uk-icon="icon: ban; ratio: 0.9"></span>
                            {% elif video.status == 4 %}
                            <span class="uk-text-danger" uk-icon="icon: file-text; ratio: 0.9"></span>
                            {% else %}
                            <span class="uk-text-warning" uk-icon="icon: question; ratio: 0.9"></span>
                            {% endif %}
                            <a href="{{ video['url'] }}" target="_blank">{{ video.url[:128] }}</a>
                            {% if current_user.is_authenticated %}<br><span class="uk-text-meta" uk-icon="icon: user; ratio: 0.9"></span> {{ video.source }}{% endif %}
                        </div>
                    </td>
                    <td class="uk-text-muted uk-text-small">
                        <span uk-icon="icon: future; ratio: 0.6"></span><span> {{ video.duration_str }}</span>
                    </td>
                    <td class="uk-text-muted uk-text-small">
                        <span uk-icon="icon: calendar; ratio: 0.6"></span> {{ video.upload_time_str }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td>Title</td>
                    <td>Status/Source</td>
                    <td>Duration</td>
                    <td>Uploaded</td>
                </tr>
            </tfoot>
        </table>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2 uk-visible@l"></div>
            <a
                class="uk-width-1-2 uk-width-1-4@l uk-input uk-button {% if current_page > 1 %}uk-button-secondary{% else %}disabled_a uk-button-muted{% endif %} uk-button-small"
                href="{% if current_page > 1 %}/?p={{ current_page - 1 }}{% else %}#{% endif %}{% if keyword|length %}&q={{ keyword }}{% endif %}"
            >
                <span uk-icon="icon: chevron-double-left"></span> Previous
            </a>
            <a
                class="uk-width-1-2 uk-width-1-4@l uk-input uk-button {% if current_page < max_page %}uk-button-secondary{% else %}disabled_a uk-button-muted{% endif %} uk-button-small"
                href="{% if current_page < max_page %}/?p={{ current_page + 1 }}{% else %}#{% endif %}{% if keyword|length %}&q={{ keyword }}{% endif %}"
            >
                Next <span uk-icon="icon: chevron-double-right"></span>
            </a>
        </div>
    </div>

</div>
<script src="{{ url_for('serve.static', filename='js/klippekort.js') }}"></script>
{% endblock %}