{% extends "base.html" %}
{% block content %}
<style>
.disabled_a {
    pointer-events: none;
}
</style>
<div class="uk-container uk-grid uk-padding-small uk-height-1-1 uk-padding-remove-top uk-margin-remove" style="min-width:100%">
    {% if current_user.is_authenticated %}
    <div
        class="uk-width-1-1 uk-width-1-3@m uk-dark uk-background-muted uk-height-1-1 uk-margin"
        style="border: 1px dashed #CCC;border-top: 0;"
    >

        <form action="" id="link-form" class="uk-form uk-padding-small uk-width-1-1 uk-height-1-1">
            <fieldset class="uk-fieldset uk-grid">

                <legend class="uk-legend uk-text-center uk-width-1-1 uk-padding-remove">Post new video for posterity</legend>

                <div class="uk-margin uk-width-1-1 uk-padding-remove-horizontal">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: link"></span>
                        <input class="uk-input" type="text" id="url" name="url" placeholder="URL">
                    </div>
                </div>

                <div class="uk-margin uk-width-1-1 uk-padding-remove-horizontal">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: quote-right"></span>
                        <input class="uk-input" type="text" id="title" name="title" placeholder="Descriptive title">
                    </div>
                </div>

                <div class="uk-margin uk-width-1-2 uk-width-1-1@m uk-padding-remove-horizontal">
                    <div class="uk-form-label">Content warning</div>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: warning"></span>
                        <select class="uk-input uk-select" id="content_warning" name="content_warning">
                            <option>None</option>
                            {% for tag in tags %}
                            <option>{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="uk-text-meta"><i>You can add more tags later</i></span>
                </div>
                <div class="uk-margin uk-width-1-2 uk-width-1-1@m uk-padding-remove-horizontal">
                    <div class="uk-form-label">Category</div>
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: tag"></span>
                        <select class="uk-input uk-select" id="category" name="category">
                            <option>None</option>
                            {% for tag in categories %}
                            <option>{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="uk-text-meta"><i>You can add more categories later</i></span>
                </div>

                <div class="uk-margin uk-width-1-1 uk-padding-remove-left">
                    <button class="uk-button uk-button-default" type="submit" id="submit-button">Save for posterity</button>
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
    <div class="uk-width-1-1 {% if current_user.is_authenticated %}uk-width-2-3@m {% endif %}uk-padding-small">

        <div class="uk-grid uk-grid-small uk-text-small uk-padding-small">
            <div class="uk-width-1-1 uk-width-1-2@m uk-text-muted uk-text-center">
                <div class=" uk-position-relative uk-container uk-height-1-1">
                    <div class="uk-text-center uk-position-center uk-position-relative">
                        {% if keyword|length %}Search results for <b>"{{ keyword }}"</b><br>{% endif %}
                        {% if total_results > 0 %}
                            Showing {{ result_offset + 1 }} to {{ result_offset + total_results }} of {{ total }} (page {{ current_page }} of {{ max_page }})
                        {% else %}
                            No results to show.
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="uk-container uk-width-1-1 uk-width-1-2@m uk-height-1-1">
                <form class="uk-form uk-width-1-1" id="search_form" name="search_form" action="/" method="POST">
                    <div class="uk-margin-remove uk-padding-small">
                        <div class="uk-inline uk-width-1-1">
                            <a class="uk-form-icon uk-form-icon-flip" href="" onclick="document.search_form.submit();return false;" uk-icon="icon: search"></a>
                            <input class="uk-input" type="text" id="keyword" name="keyword" placeholder="Search videos..." value="">
                        </div>
                    </div>
                </form>
            </div>
            <a class="uk-width-1-2 uk-input uk-button {% if current_page > 1 %}uk-button-secondary{% else %}disabled_a uk-button-muted{% endif %} uk-button-small" href="{% if current_page > 1 %}/?p={{ current_page - 1 }}{% else %}#{% endif %}">
                <span uk-icon="icon: chevron-double-left"></span> Previous
            </a>
            <a class="uk-width-1-2 uk-input uk-button {% if current_page < max_page %}uk-button-secondary{% else %}disabled_a uk-button-muted{% endif %} uk-button-small" href="{% if current_page < max_page %}/?p={{ current_page + 1 }}{% else %}#{% endif %}">
                Next <span uk-icon="icon: chevron-double-right"></span>
            </a>
        </div>

        <table class="uk-table uk-table-small uk-table-responsive">
            <caption class="uk-visible@m">{% if keyword|length %}Search results{% else %}Archived videos, sorted by upload date.{% endif %}</caption>
            <thead>
                <tr>
                    <th class="uk-table-expand">Title</th>
                    <th>Status/Source</th>
                    <th>Duration</th>
                    <th>Uploaded</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                <tr>
                    <td>
                        <a href="/{{ video['video_id'] }}">{{ video.title }}</a>
                        {% if video.tags|length %}
                            <br>
                            {% for tag in video.tags %}
                            <span class="uk-label {% if tag.category > 1 %}uk-label-danger{% elif tag.category == 1 %}uk-label-warning{% endif %}">{{ tag.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="uk-text-muted uk-text-small" style="max-width: 160px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                        {% if video.status == 0 %}
                        <span class="uk-text-primary" uk-icon="icon: download; ratio: 0.9"></span>
                        {% elif video.status == 1 %}
                        <span class="uk-text-success" uk-icon="icon: check; ratio: 0.9"></span>
                        {% elif video.status == 2 %}
                        <span class="uk-text-danger" uk-icon="icon: close; ratio: 0.9"></span>
                        {% elif video.status == 3 %}
                        <span class="uk-text-danger" uk-icon="icon: ban; ratio: 0.9"></span>
                        {% elif video.status == 4 %}
                        <span class="uk-text-danger" uk-icon="icon: file-text; ratio: 0.9"></span>
                        {% else %}
                        <span class="uk-text-warning" uk-icon="icon: question; ratio: 0.9"></span>
                        {% endif %}
                        <a href="{{ video['url'] }}" target="_blank">{{ video.url[:48] }}</a>
                    </td>
                    <td class="uk-text-muted uk-text-small">
                        {{ video.duration_str }}
                    </td>
                    <td class="uk-text-muted uk-text-small">
                        {{ video.upload_time_str }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td>Title</td>
                    <td>Status/Source</td>
                    <td>Duration</td>
                    <td>Uploaded</td>
                </tr>
            </tfoot>
        </table>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-1-2 uk-visible@m"></div>
            <a class="uk-width-1-2 uk-width-1-4@m uk-input uk-button {% if current_page > 1 %}uk-button-secondary{% else %}disabled_a uk-button-muted{% endif %} uk-button-small" href="{% if current_page > 1 %}/?p={{ current_page - 1 }}{% else %}#{% endif %}">
                <span uk-icon="icon: chevron-double-left"></span> Previous
            </a>
            <a class="uk-width-1-2 uk-width-1-4@m uk-input uk-button {% if current_page < max_page %}uk-button-secondary{% else %}disabled_a uk-button-muted{% endif %} uk-button-small" href="{% if current_page < max_page %}/?p={{ current_page + 1 }}{% else %}#{% endif %}">
                Next <span uk-icon="icon: chevron-double-right"></span>
            </a>
        </div>
    </div>

</div>
<script src="{{ url_for('serve.static', filename='js/klippekort.js') }}"></script>
{% endblock %}