{% extends "base.html" %}
{% block content %}
<div class="uk-container uk-width-1-1 uk-height-1-1">
    <h2>Add new tag:</h2>
    <form class="uk-form" method="POST" id="add_tag_form" action="/add_tag">
        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                <input type="text" class="uk-input" name="tag_name" id="tag_name" placeholder="Tag name">
            </div>
            <div class="uk-margin">
                <select class="uk-select" id="tag_category_select" name="tag_category_select">
                    <option value="0" selected>Informative</option>
                    <option value="1">Emotional</option>
                    <option value="2">Graphic</option>
                </select>
            </div>
            <button class="uk-button uk-button-primary" type="submit">Submit</button>
            <input type="hidden" id="return_url" name="return_url" value="/settings">
        </fieldset>

    </form>
    <h2>Add new category:</h2>
    <form class="uk-form" method="POST" id="add_category_form" action="/add_category">
        <fieldset class="uk-fieldset">
            <div class="uk-margin">
                <input type="text" class="uk-input" name="category_name" id="category_name" placeholder="Category name">
            </div>
            <button class="uk-button uk-button-primary" type="submit">Submit</button>
            <input type="hidden" id="return_url_category" name="return_url" value="/settings">
        </fieldset>
    </form>
</div>
{% endblock content %}