        <form action="" id="link-form" class="uk-form uk-padding-small uk-width-1-1 uk-height-1-1 link-form-toggle"{% if hide_first %} hidden{% endif %}>
            <input type="hidden" id="source_user" name="source_user" value="{{ current_user.username }}">
            <fieldset class="uk-fieldset uk-grid">

                <legend class="uk-legend uk-text-center uk-width-1-1">Post new video for posterity</legend>

                <div class="uk-margin uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: link"></span>
                        <input class="uk-input" type="text" id="url" name="url" placeholder="URL" required>
                    </div>
                    <div class="uk-margin-small uk-width-1-1">
                        <button type="button" class="uk-button uk-button-secondary uk-button-small" id="suggest-button" onclick="suggestTitle();">Suggest title</button>
                    </div>
                </div>

                <div class="uk-margin uk-width-1-1">
                    <div class="uk-inline uk-width-1-1">
                        <span class="uk-form-icon" uk-icon="icon: quote-right"></span>
                        <input class="uk-input" type="text" id="title" name="title" placeholder="Descriptive title" required>
                    </div>
                </div>

                <div class="uk-margin uk-width-1-2 uk-width-1-1@l">
                    <div class="uk-form-label"><span class="uk-text-danger" uk-icon="icon: warning; ratio: 0.75"></span> Content warning</div>
                    <div class="uk-inline uk-width-1-1">

                        <select class="uk-select uk-height-small" multiple id="content_warning" name="content_warning">
                            {% for tag in tags %}
                            <option value="{{ tag.id }}" class="content-tag-option-{{ tag.category }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="uk-margin uk-width-1-2 uk-width-1-1@l">
                    <div class="uk-form-label"><span class="uk-text-meta" uk-icon="icon: tag; ratio: 0.75"></span> Video type</div>
                    <div class="uk-inline uk-width-1-1">

                        <select class="uk-select uk-height-small" multiple id="category" name="category">
                            {% for tag in categories %}
                            <option value="{{ tag.id }}" class="category-option">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="uk-width-1-1">
                    <span class="uk-text-small">
                        <span class="content-tag-option-2">Graphic</span> /
                        <span class="content-tag-option-1">Emotional</span> /
                        <span class="content-tag-option-0">Informative</span> /
                        <span class="uk-text-category">Video type</span>
                    </span><br>
                    {% if current_user.is_authenticated %}
                    {% if current_user.check_auth(AUTH_LEVEL_EDITOR) %}
                    <div class="uk-margin">
                        <label><input class="uk-checkbox" id="private-checkbox" name="private-checkbox" type="checkbox"> Mark as private</label>
                    </div>
                    {% endif %}
                    <span class="uk-text-meta"><i>You can add more tags and categories later</i></span>
                    {% else %}
                    <span class="uk-text-meta"><i>Link will need to be approved by an editor before it's archived.</i></span>
                    {% endif %}
                </div>

                <div class="uk-margin-left uk-width-1-1 uk-padding-small uk-flex uk-flex-center">
                    <button class="uk-button uk-button-default" type="submit" id="submit-button">Save for posterity</button>
                    <div class="uk-flex uk-flex-middle" style="max-width: 104px;">
                        <div class="uk-width-small uk-text-center theatre-dropdown-button theatre-button" style="z-index:1;">
                            <img class="uk-animation-scale-up" id="selected-theatre-image" src="/uploaded/{% if current_theatre %}{{current_theatre.logo_name}}{% else %}all.png{% endif %}">
                            <div class="theatre-dropdown-content uk-animation-slide-top-small">
                                <button class="theatre-button uk-animation-scale-up uk-position-relative" type="button" onclick="selectTheatre('all', 'all.png');" style="margin:4px 2px;width:96px;height:32px;">
                                    <img class="uk-position-absolute uk-position-center" src="/uploaded/all.png">
                                </button>
                                {% for t in available_theaters %}
                                <button class="theatre-button uk-animation-scale-up uk-position-relative" type="button" onclick="selectTheatre('{{t.stub}}', '{{t.logo_name}}');" style="margin:4px 2px;width:96px;height:32px;">
                                    <img class="uk-position-absolute uk-position-center" src="/uploaded/{{t.logo_name}}">
                                </button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="theatre" name="theatre" value="{% if current_theatre %}{{current_theatre.stub}}{% else %}all{% endif %}">
                <p id="video-post-status" class="uk-text-small uk-text-meta"></p>
            </fieldset>
        </form>
        {% if hide_first %}
        <div class="uk-width-1-1 uk-position-relative" style="height: 48px;">
            <a
                class="uk-icon-button uk-position-center"
                uk-icon="plus"
                uk-toggle="target: .link-form-toggle; animation: uk-animation-fade"
            >
            </a>
        </div>
        {% endif %}
        <script>
            function selectTheatre (theatre_stub, theatre_logo) {
                var theatre_field = document.getElementById("theatre");
                var theatre_image = document.getElementById("selected-theatre-image");
                if (theatre_field) {
                    theatre_field.value = theatre_stub;
                }
                if (theatre_image) {
                    theatre_image.src = '/uploaded/' + theatre_logo;
                }
            }
        </script>