                            {% if video.status == 0 %}
                            <span uk-tooltip="title: Video is downloading;pos: top-left;">
                                <span class="uk-text-primary" uk-icon="icon: download; ratio: 0.9"></span>
                            </span>
                            {% elif video.status == 1 %}
                            <span uk-tooltip="title: Video is archived;pos: top-left;">
                                <span class="uk-text-success" uk-icon="icon: check; ratio: 0.9"></span>
                            </span>
                            {% elif video.status == 2 %}
                            <span uk-tooltip="title: Video failed to download;pos: top-left;">
                                <span class="uk-text-danger" uk-icon="icon: close; ratio: 0.9"></span>
                            </span>
                            {% elif video.status == 3 %}
                            <span uk-tooltip="title: Source is invalid;pos: top-left;">
                                <span class="uk-text-danger" uk-icon="icon: ban; ratio: 0.9"></span>
                            </span>
                            {% elif video.status == 4 %}
                            <span uk-tooltip="title: Server is lacking cookies;pos: top-left;">
                                <span class="uk-text-danger" uk-icon="icon: file-text; ratio: 0.9"></span>
                            </span>
                            {% elif video.status == 5 %}
                            <span uk-tooltip="title: Video is pending approval;pos: top-left;">
                                <span class="uk-text-warning" uk-icon="icon: clock; ratio: 0.9"></span>
                            </span>
                            {% elif video.status == 6 %}
                            <span uk-tooltip="title: Video is processing;pos: top-left;">
                                <span class="uk-text-primary" uk-icon="icon: refresh; ratio: 0.9"></span>
                            </span>
                            {% else %}
                            <span class="uk-text-warning" uk-icon="icon: question; ratio: 0.9"></span>
                            {% endif %}
                            {% if current_user.check_auth(1) %}
                            {% if video.duplicates|length %}
                            <span uk-tooltip="title: Video has {{ video.duplicates|length }} possible duplicates;pos: top-left;">
                                <span class="uk-text-warning" uk-icon="icon: copy; ratio: 0.9"></span>
                            </span>
                            {% endif %}
                            {% if video.user_reports|length %}
                            <span uk-tooltip="title: Video has {{ video.user_reports|length }} reports pending;pos: top-left;">
                                <span class="uk-text-danger" uk-icon="icon: warning; ratio: 0.9"></span>
                            </span>
                            {% endif %}
                            {% if video.recommend_post_process %}
                            <span uk-tooltip="title: Recommended for post-processing;pos: top-left;">
                                <span class="uk-text-muted" uk-icon="icon: move; ratio: 0.9"></span>
                            </span>
                            {% endif %}
                            {% endif %}