{% extends "base.html" %}
{% block page_title %}{% if video.status == 0 %}Downloading: {% elif video.status == 6 %}Processing: {% else %}Video: {% endif %}{{ video.title }}{% endblock %}
{% block metadata %}<!-- OpenGraph metadata for video -->
        <meta name="description" content="{{ video.orig_title }}!">
        <meta property="og:site_name" content="Posterity video">
        <meta property="og:title" content="{{ video.title }}" />
        <meta property="og:url" content="https://posterity.no/{{ video.video_id }}">
        <meta property="og:description" content="{{ video.orig_title }}" />
        <meta property="og:image" itemprop="image" content="https://posterity.no/preview/{{ video.video_id }}.jpg">
        <meta property="og:image:width" content="{{ video.preview_width }}">
        <meta property="og:image:height" content="{{ video.preview_height }}">
        <meta property="og:type" content="video" />
        <meta property="og:video" content="https://posterity.no{{ stream_path }}" />
        <meta property="og:video:type" content="video/mp4" />
        <meta property="og:video:width" content="{{ video.width }}" />
        <meta property="og:video:height" content="{{ video.height }}" />
        <meta property="og:video:duration" content="{{ video.duration_seconds }}" />
        <meta property="og:video:release_date" content="{{ video.upload_time_iso8601 }}">
        <!-- Content tags -->{% for tag in video.tags_by_category %}
        <meta property="og:video:tag" content="{{ tag.name }}" />{% endfor %}
        <!-- Category tags -->{% for tag in video.categories %}
        <meta property="og:video:tag" content="{{ tag.name }}" />{% endfor %}
        <!-- End of OpenGraph metadata -->
        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="player">
        <meta name="twitter:player" content="https://posterity.no/{{ video.video_id }}?embed">
        <meta name="twitter:domain" content="posterity.no">
        <meta name="twitter:url" content="https://posterity.no/{{ video.video_id }}">
        <meta name="twitter:title" content="{{ video.title }}">
        <meta name="twitter:description" content="{{ video.orig_title }}">
        <meta name="twitter:image" content="https://posterity.no/preview/{{ video.video_id }}.jpg">
        <meta name="twitter:player:width" content="{{ video.width }}">
        <meta name="twitter:player:height" content="{{ video.height }}">
        <meta name="twitter:player:stream" content="https://posterity.no{{ stream_path }}">
        <!-- End of Twitter Meta Tags -->
{% endblock %}
{% block styles %}
        <link rel="stylesheet" href="{{ url_for('serve.static', filename='css/video_player.css') }}" />
{% endblock %}
{% block content %}
        <script src="{{ url_for('serve.static', filename='js/klippekort.js') }}"></script>
        <div class="uk-container uk-padding-remove uk-padding-small@m uk-height-1-1 uk-padding-remove-top">
            <div class="uk-card uk-card-default uk-card-body video-card uk-width-1-1 uk-text-center uk-padding-remove-top">
                <div class="uk-width-1-1 uk-height-1-1">
                    <div class="uk-text-center uk-width-1-1">
                        {% if video.status == 1 %}
                        <div
                        class="video-content"
                        style="width: {{ video.player_width }}px;"
                        >
                            <video
                            id="video-player"
                            class="video-js vjs-default-skin vjs-big-play-centered video-player uk-margin-auto"
                            controls
                            preload="metadata"
                            height="auto"
                            width="100%"
                            loop="loop"
                            poster=""
                            data-setup='{"fluid": true, "poster":"/preview/{{ video.video_id }}.jpg", "aspectRatio":"{{video.width}}:{{video.height}}", "playbackRates": [0.25, 0.5, 1, 2, 4] }'
                            >
                                <source src="{{ stream_path }}" type="video/mp4" />
                            </video>
                        </div>
                        {% elif video.status == 0  or video.status == 6 %}
                        <div class="uk-flex uk-margin uk-text-meta uk-flex-center uk-height-medium" style="padding: 40px;">
                            <div class="uk-position-center-top" style="margin-top: 50px; margin-bottom: 50px;">
                                {% if video.status == 0 %}
                                    {% set spinner_text = "Downloading" %}
                                {% else %}
                                    {% set spinner_text = "Processing" %}
                                {% endif %}
                                {% include "shadow_spinner.html" %}
                            </div>
                        </div>
                        {% elif video.status == 5 %}
                        <div class="uk-flex uk-margin uk-text-meta uk-flex-center uk-padding-large uk-height-medium">
                            <div class="uk-position-center uk-padding-small">
                                <span uk-icon="icon: clock; ratio: 3;"></span>
                            </div>
                        </div>
                        {% else %}
                        <div class="uk-flex uk-margin uk-text-danger uk-flex-center uk-padding-large uk-height-medium">
                            <div class="uk-position-center uk-padding-small">
                                <span uk-icon="icon: warning; ratio: 3;"></span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="uk-width-1-1 uk-padding-small">
                    <h2 class="uk-padding-small uk-margin-remove-bottom">{{ video.title }}</h2>
                    {% for tag in video.tags_by_category %}
                    <span class="uk-label label-small {% if tag.category > 1 %}uk-label-danger{% elif tag.category == 1 %}uk-label-warning{% endif %}">{{ tag.name }}</span>
                    {% endfor %}
                    {% for category in video.categories %}
                    <span class="uk-label label-small uk-label-category">{{ category.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="uk-container">
                <div class="uk-grid uk-grid-small uk-width-1-1 uk-margin-remove-left">
                    <div class="uk-width-1-1 uk-text-small uk-text-center uk-text-meta" id="video-download-status"></div>

                    {% if video.user_can_edit(current_user) %}
                    <div class="uk-width-1-1 uk-padding-small">
                        <div class="uk-grid uk-width-1-1 uk-margin uk-margin-remove-left">
                            {% if video.can_be_changed %}
                            {% if video.ready_to_play %}
                            {% if current_user.check_auth(AUTH_LEVEL_EDITOR) or video.recommend_post_process %}
                            <div class="uk-width-1-1 uk-width-1-2@s uk-text-center uk-padding-small">
                                <button
                                    class="uk-input uk-button {% if video.recommend_post_process %}uk-button-primary{% else %}uk-button-secondary{% endif %}"
                                    type="button"
                                    id="start-processing-button"
                                    onclick="startProcessing('{{ video.video_id }}');"
                                    {% if video.status != STATUS_COMPLETED or video.post_processed %}disabled{% endif %}
                                >
                                        Post-process
                                </button>
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="uk-width-1-1 uk-width-1-2@s uk-text-center uk-padding-small">
                                <button class="uk-input uk-button uk-button-primary" type="button" id="start-download-button" onclick="startDownload('{{ video.video_id }}');" {% if video.status == STATUS_COMPLETED %}disabled{% endif %}>Start download</button>
                            </div>
                            {% endif %}
                            {% endif %}
                            <div class="uk-width-1-1 uk-width-1-2@s uk-text-center uk-padding-small">
                                <a class="uk-input uk-button uk-button-secondary" href="/edit_video/{{ video.video_id }}">Edit video</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="uk-width-1-1 uk-text-center uk-padding-small">
                    {% if video.status == STATUS_DOWNLOADING %}
                    {% elif video.status == STATUS_COMPLETED or video.status == STATUS_PROCESSING %}
                        <a href="{{ dl_path }}"><h3 class="uk-text-primary uk-margin-remove-bottom ">Click here to download video in original quality</h3></a>
                    {% elif video.status == STATUS_INVALID %}
                        <h3 class="uk-text-danger">Invalid URL, no video to download.</h3>
                    {% elif video.status == STATUS_COOKIES %}
                        <h3 class="uk-text-danger">Video might be region/age restricted and requires cookies (not implemented).</h3>
                    {% elif video.status == STATUS_PENDING %}
                        <h3 class="uk-text-warning">Link is pending approval by an editor and has not started downloading yet.</h3>
                    {% else %}
                        <h3 class="uk-text-danger">Download failed.</h3>
                    {% endif %}
                    </div>

                    {% if current_user.check_auth(AUTH_LEVEL_EDITOR) and video.duplicates|length %}
                    <div class="uk-width-1-1 uk-margin uk-background-muted uk-padding-small">
                        <h3>Possible duplicates:</h3>
                        <table class="uk-width-1-1 uk-table uk-table-small uk-table-responsive uk-table-justify uk-table-middle">
                            <thead>
                                <tr>
                                    <th class="uk-table-expand">Video</th>
                                    <th class="uk-table-shrink">Source</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in video.duplicates %}
                                <tr>
                                    <td class="uk-flex uk-flex-middle" style="min-height: 64px;">
                                        <div class="list-thumbnail uk-position-relative" style="display: table-cell;">
                                            <a href="/{{ d.video_id }}">
                                                <img src="/thumbnail/{{ d.video_id }}.jpg" loading="lazy" class="thumbnail-rounded uk-position-absolute uk-position-center">
                                            </a>
                                        </div>
                                        <div style="display: table-cell;">
                                            <a href="/{{ d.video_id }}" class="uk-text-bold video-link">{{ d.title }}</a>
                                        </div>
                                    </td>
                                    <td class="uk-text-muted uk-text-small" style="max-width: 15vw;">
                                        <span uk-tooltip="title: {{ d.url }};pos: top-left;">
                                            <div style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                                <a href="{{ video.url }}" target="_blank">{{ d.url[:128] }}</a>
                                            </div>
                                        </span>
                                        <br>
                                        <span class="uk-text-meta" uk-icon="icon: user; ratio: 0.6"></span> {{ d.source }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if current_user.check_auth(AUTH_LEVEL_EDITOR) and video.user_reports|length %}
                    <div class="uk-width-1-1 report-list-item">
                        <h3 class="uk-text-danger">User reports:</h3>
                    </div>
                    {% for r in video.user_reports %}
                    <div class="uk-width-1-1 report-list-item uk-padding-small">
                        <h4><span class="uk-text-muted">Report #{{ r.id }}:</span> {{ r.reason_str }}</h4>
                        {% if r.text|length %}
                        <p class="uk-text-small uk-text-meta">
                        {{ r.text }}
                        </p>
                        {% endif %}
                        <p class="uk-text-small">
                            <a href="/clear_report/{{ r.id }}">
                                <span class="uk-link-icon" uk-icon="icon: trash; ratio: 0.8;"></span> Delete this report
                            </a>
                        </p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="uk-width-1-1 uk-width-1-2@s">
                        <div class="uk-grid uk-padding-small">
                            <div class="uk-width-1-6">
                                <span uk-icon="icon: quote-right; ratio: 2;"></span>
                            </div>
                            <div class="uk-width-5-6">
                                <p><i>{{ video.orig_title }}</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-1-2@s">
                        <div class="uk-grid uk-padding-small">
                            <div class="uk-width-1-6">
                                <span uk-icon="icon: location; ratio: 2;"></span>
                            </div>
                            <div class="uk-width-5-6">
                                <p class="uk-text-small">
                                    <a href="{{ video.url }}" target="_blank" class="uk-icon-link" uk-icon="link">Source link</a><br>
                                    <span class="uk-text-meta">Submitted {% if current_user.is_authenticated %}by <i>"{{ video.source }}"</i> {% endif %}{{ video.upload_time_verbose }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-1-2@s">
                        <div class="uk-grid uk-padding-small">
                            <div class="uk-width-1-6">
                                <span uk-icon="icon: future; ratio: 2;"></span>
                            </div>
                            <div class="uk-width-5-6">
                                <p class="uk-text-small">
                                    <span class="uk-text-meta">Duration:</span> {{ video.duration_str_verbose }}<br>
                                    {% if video.post_processed %}
                                    <span class="uk-text-meta">File size:</span> {{ video.file_size_str }} <i class="uk-text-meta">({{ video.processed_file_size_str }})</i>
                                    {% else %}
                                    <span class="uk-text-meta">File size:</span> {{ video.file_size_str }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-width-1-2@s">
                        <div class="uk-grid uk-padding-small">
                            <div class="uk-width-1-6">
                                <span uk-icon="icon: tv; ratio: 2;"></span>
                            </div>
                            <div class="uk-width-5-6">
                                <p class="uk-text-small">
                                    <span class="uk-text-meta">Dimensions:</span> {{ video.dimensions_str }}<br>
                                    <span class="uk-text-meta">Codecs:</span> {{ video.format_str }}<br>
                                    {% if video.post_processed %}
                                    <span class="uk-text-meta">FPS:</span> {{ video.frame_rate_str }} <i>(<span class="uk-text-meta">{{ video.processed_frame_rate_str }}</span>)</i><br>
                                    <span class="uk-text-meta">Bit rate:</span> {{ video.bit_rate_str }} <i>(<span class="uk-text-meta">{{ video.processed_bit_rate_str }}</span>)</i><br>
                                    {% else %}
                                    <span class="uk-text-meta">FPS:</span> {{ video.frame_rate_str }}<br>
                                    <span class="uk-text-meta">Bit rate:</span> {{ video.bit_rate_str }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1 uk-padding-small">
                        <div class="uk-grid uk-width-1-1 uk-margin uk-margin-remove-left">
                            <div class="uk-width-1-1 uk-text-center uk-padding-small uk-link-danger">
                                <a href="/report_video/{{ video.video_id }}">
                                    Report video <span class="uk-icon-link uk-link-danger" uk-icon="icon: warning; ratio: 1;"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if recommended|length %}
            <div class="uk-container uk-background-muted">
                <div class="uk-width-1-1 uk-text-center">
                    <h2>Related videos</h2>
                </div>
                <div class="uk-width-1-1 uk-padding-small">

                    <table class="uk-table uk-table-small uk-table-striped">
                        <thead>
                            <tr>
                                <td class="uk-table-expand">Video</td>
                                <td class="uk-table-shrink">Content tags</td>
                                <td class="uk-table-shrink uk-visible@m">Video type</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for v in recommended %}
                            <tr>
                                <td style="min-height: 64px;">
                                    <div class="list-thumbnail uk-position-relative" style="display: table-cell;">
                                        <a href="/{{ v.video_id }}">
                                            <img src="/thumbnail/{{ v.video_id }}.jpg" loading="lazy" class="thumbnail-rounded uk-position-absolute uk-position-center">
                                        </a>
                                    </div>
                                    <div style="display: table-cell;">
                                        <a href="/{{ v.video_id }}">{{ v.title }}</a>
                                    </div>
                                </td>
                                <td>
                                    {% for tag in v.tags_by_category %}
                                    <span class="uk-label label-small {% if tag.category > 1 %}uk-label-danger{% elif tag.category == 1 %}uk-label-warning{% endif %}">{{ tag.name }}</span>
                                    {% endfor %}
                                </td>
                                <td class="uk-visible@m">
                                    {% for category in v.categories %}
                                    <span class="uk-label label-small uk-label-category">{{ category.name }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <div class="uk-height-small"></div>
        </div>

        {% if video.status == STATUS_COMPLETED %}
        <script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>
        <script>
        var vid_element = document.getElementById("video-player");
        if (vid_element) {
            videojs('video-player', {}, function() {
                this.volume(0.5);
                this.playbackRate(1);
            });
        }
        </script>
        {% elif video.status == STATUS_DOWNLOADING or video.status == STATUS_PROCESSING %}
        <script>
            redirectOnComplete('{{ video.video_id }}');
        </script>
        {% endif %}
{% endblock %}