.posterity-dark-mode {
    --primary: #2C97DE;
    --primary-light: #6caed9;
    --primary-dark: #1c5e8a;
    --info: var(--primary);
    --success: #2DBDA8;
    --warning-light: #EFC663;
    --warning: #D9A322;
    --danger: #E16070;
    --bg: #232830;
    --grey: #EEE;
    --light-grey: #C2C8CF;
    --dark-grey: #2E353D;
    --charcoal: #353C45;
    --white: #FFF;
    --black: #13181f;
    --tag-informative: #00819e;
    --tag-informative: var(--primary);
    --tag-emotional: #e6ac00;
    --tag-emotional: var(--warning);
    --tag-graphic: #cf2900;
    --tag-graphic: var(--danger);
    --category: var(--light-grey);
}

body, html {
    background-color: var(--bg);
    color: var(--grey);
    font-family: "Times New Roman", Times, serif;
}

::selection {
    background: var(--primary-light);
}
::-moz-selection {
    background: var(--primary-light);
}

.uk-section-muted {
    background: var(--charcoal);
}
.uk-section-default {
    background: var(--bg);
}

.uk-card-default {
    background-color: var(--bg);
}
.uk-card-default .uk-card-title {
    color: var(--grey);
}

.uk-hr, hr, .uk-grid-divider>:not(.uk-first-column)::before {
    border-color: var(--dark-grey);
}

.uk-table-small td {
    padding: 6px 8px;
}
.uk-table-small tr {
    border-bottom: 1px dotted var(--dark-grey);
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    color: var(--grey);
    font-family: "Times New Roman", Times, serif;
}

.uk-input, .uk-select, .uk-textarea {
    background: var(--bg)!important;
    border-color: var(--light-grey);
    color: var(--light-grey);
}
.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
    background: var(--black)!important;
    color: var(--grey);
    border-color: var(--primary);
}

.uk-text-muted {
    color: var(--light-grey)!important;
}

.uk-button-default {
    color: var(--light-grey);
    border-color: var(--light-grey);
}
.uk-button-default:hover {
    color: var(--grey);
    border-color: var(--grey);
}
.uk-button-default:disabled {
    color: var(--light-grey);
    border-color: var(--charcoal)!important;
}
.uk-button-primary {
    color: var(--white);
    background-color: var(--primary);
}
.uk-button-danger {
    color: var(--white);
    background-color: var(--danger);
}

.uk-text-success {
    color: var(--success)!important;
}
.uk-text-primary {
    color: var(--primary)!important;
}
.uk-text-danger {
    color: var(--danger)!important;
}
.uk-text-warning {
    color: var(--warning)!important;
}

.uk-form-label {
    color: var(--grey);
}

.uk-link, a, .uk-icon-link {
    color: var(--primary-light);
}
.uk-link:hover, a:hover, .uk-icon-link:hover {
    color: var(--primary);
}

.uk-label {
    background: var(--primary-dark);
    color: var(--grey);
}

.uk-label-danger {
    background: var(--danger);
    color: var(--black);
    font-weight: 700;
}
.uk-label-warning {
    background: var(--warning);
    color: var(--bg);
}
.uk-table caption, .uk-table th {
    color: var(--light-grey);
}


.uk-label-category {
    background-color: var(--category);
    color: var(--dark-grey);
}
.uk-text-category {
    color: var(--category);
}

.uk-background-muted {
    background-color: var(--charcoal);
}
.uk-background-secondary {
    background-color: var(--dark-grey);
}
.uk-light, .uk-light a {
    color: var(--grey);
}

.uk-light .uk-text-muted {
    color: var(--light-grey)!important;
}

.label-small {
    font-size: .70rem;
    padding: 0 4px;
    line-height: 1.0rem;
}

.content-tag-option-0 {
    color: var(--tag-informative)!important;
}
.content-tag-option-1 {
    color: var(--tag-emotional)!important;
}
.content-tag-option-2 {
    color: var(--tag-graphic)!important;
}
.category-option {
    color: var(--category)!important;
}

.video-card {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: var(--charcoal);
}


.video-link {
    color: var(--grey);
}
.video-link-not-ready {
    color: var(--light-grey);
    font-style: italic;
    font-weight: 300;
}

.uk-tooltip {
    overflow-wrap: normal;
    max-width: min-content;
    min-width: 10vw;
    text-align: center;
}

.video-link:hover {
    color: var(--light-grey);
}
.video-link-not-ready:hover {
    color: var(--charcoal);
}

.list-thumbnail {
    min-height: 64px;
    min-width: 64px;
    float: left;
    margin-right: 8px;
}

.thumbnail-rounded {
    max-width: 64px;
    max-height: 64px;
    border: 2px solid var(--charcoal);
    border-radius: 3px;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}
.thumbnail-rounded:hover {
    border: 2px solid var(--light-grey);
}

.video-spinner {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  -webkit-animation: video-spin 5s infinite ease-in;
  animation: video-spin 5s infinite ease-in;
}

@-webkit-keyframes video-spin {
  0%, 20%, 100% {
     -webkit-transform: translate(-35px, 150px);
     transform: translate(-35px, -35px);
     background-color: var(--black);
  }
  25%, 45% {
     -webkit-transform: translate(35px, -35px);
     transform: translate(35px, -35px);
     background-color: var(--grey);
  }
  50%, 70% {
     -webkit-transform: translate(35px, 35px);
     transform: translate(35px, 35px);
     background-color: var(--black);
  }
  75%, 95% {
     -webkit-transform: translate(-35px, 35px);
     transform: translate(-35px, 35px);
     background-color: var(--grey);
  }
}

@keyframes video-spin {
  0%, 20%, 100% {
     -webkit-transform: translate(-35px, 270px);
     transform: translate(-35px, -35px);
     background-color: var(--grey);
  }
  25%, 45% {
     -webkit-transform: translate(35px, -35px);
     transform: translate(35px, -35px);
     background-color: var(--black);
  }
  50%, 70% {
     -webkit-transform: translate(35px, 35px);
     transform: translate(35px, 35px);
     background-color: var(--grey);
  }
  75%, 95% {
     -webkit-transform: translate(-35px, 35px);
     transform: translate(-35px, 35px);
     background-color: var(--black);
  }
}